openapi: 3.1.0
info:
  title: PCM FHIR API
  version: "0.3.2"
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  description: |
    OpenAPI definition for the PCM FHIR server. This covers the external FHIR REST API
    interactions for organization onboarding updates, service registration,
    consent creation/retrieval, and endpoint registration. Continuing service
    review is not exposed as a queryable FHIR
    workflow. Client-visible service lifecycle is reflected by HealthcareService
    extension[businessStatus],
    HealthcareService.active, and OperationOutcome responses.
    Retrieval/response examples show complete profiled FHIR resources; submit
    examples show the smaller server-accepted request bodies where those differ
    from full response resources.
    The production PCM FHIR base is `https://pcm2m.health.gov.il/r4`;
    non-production deployments use their assigned environment base. Participant
    hosts under `example.org` are placeholders. Exact-match requirements apply
    to the applicable runtime values. Canonical FHIR URLs,
    code-system/value-set URLs, identifier-system URIs, and other named protocol
    URIs remain the published identifiers.
    Unless otherwise noted, FHIR REST requests/responses use application/fhir+json.
    Every PCM HTTP endpoint requires transport-level mTLS, including SMART
    discovery and CapabilityStatement metadata. FHIR resource operations
    additionally require OAuth2 bearer access tokens. OAuth2 client authentication for token issuance/introspection
    is `private_key_jwt` using `ES256`; mTLS is not advertised as `tls_client_auth`. Profile-specific
    constraints are defined by the PCM FHIR profiles and illustrated by the examples.
    Authorization is a hard ceiling on search results: every primary match must both
    satisfy the supplied search criteria and be authorized for the caller to read.
    Search filters can only narrow the authorized primary-result set. `_include` and
    `_include:iterate` can add only related resources that the caller is authorized
    to read under the same resource-visibility rules; they never widen access.
    Returned profiles describe complete authoritative resources. Every public FHIR
    POST/PUT uses a closed interaction-specific request schema. A prohibited element,
    authorization failure, or invalid transition rejects the whole request atomically;
    PCM does not silently ignore business content. FHIR create identity is the
    narrow exception: POST ignores a submitted `id` and assigns the authoritative
    logical id; PUT requires the body `id` to match the URL. Submitted
    `meta.versionId` and `meta.lastUpdated` are prohibited in every direct
    create/update request and in the outer `$request-catalog-update` Parameters
    metadata. The embedded complete `proposedCatalog` may retain both optional
    values copied from the retrieved canonical; PCM removes them before semantic
    comparison, and neither provides optimistic concurrency.
    Unsupported modifier extensions
    are rejected. Unknown ordinary non-modifier extensions are accepted without PCM
    interpretation or a round-trip guarantee. Every failure handled by the FHIR API
    returns an appropriate HTTP error and OperationOutcome; TLS, OAuth, and bodyless
    HEAD failures retain their protocol-native handling.
servers:
  - url: https://pcm2m.health.gov.il/r4
    description: Production PCM FHIR base URL; use the assigned base for a non-production environment. Every endpoint requires mTLS.

tags:
  - name: Organization
    description: Parent, service-provider, and data-source organizations.
  - name: Endpoint
    description: FHIR server endpoints for data sources.
  - name: HealthcareService
    description: Canonical catalog services and provider service registrations.
  - name: Consent
    description: Consent request creation, owned consent read/search, and owned consent deactivation. Deletion is not supported.
  - name: CapabilityStatement
    description: Server metadata and supported interactions.
  - name: SMART
    description: SMART on FHIR OAuth2 configuration.

security:
  - mtlsTransport: []
    bearerAuth: []

paths:
  /.well-known/smart-configuration:
    servers:
      - url: https://pcm2m.health.gov.il/r4
    get:
      tags: [SMART]
      operationId: getSmartConfiguration
      summary: Read SMART on FHIR configuration
      description: |
        OAuth2/SMART discovery document for the PCM authorization server.
        Retrieval of this discovery document requires mTLS. PCM supports standard
        SMART App Launch v2 patient-level resource-scope syntax, including
        query-constrained scopes with search modifiers, chaining, and reverse
        chaining. `user/...` app-launch scopes and `_filter` scope constraints are
        not supported. PCM does not enumerate standard SMART scopes through
        `scopes_supported` and advertises no custom non-FHIR scopes.
      security:
        - mtlsTransport: []
      responses:
        '200':
          description: SMART configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmartConfiguration'
              examples:
                pcmSmartConfiguration:
                  $ref: '#/components/examples/SmartConfigurationPCM'
        '401':
          $ref: '#/components/responses/OperationOutcomeUnauthorized'
        default:
          $ref: '#/components/responses/OperationOutcomeError'
  /metadata:
    servers:
      - url: https://pcm2m.health.gov.il/r4
    get:
      tags: [CapabilityStatement]
      operationId: readCapabilityStatement
      summary: Read capability statement
      description: |
        Returns the PCM server CapabilityStatement describing supported resources,
        interactions, and search parameters. Retrieval requires mTLS.
      security:
        - mtlsTransport: []
      responses:
        '200':
          description: CapabilityStatement
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/CapabilityStatement'
              examples:
                pcmCapabilityStatement:
                  $ref: '#/components/examples/CapabilityStatementPCM'
        '400':
          $ref: '#/components/responses/OperationOutcomeBadRequest'
        '401':
          $ref: '#/components/responses/OperationOutcomeUnauthorized'
        '403':
          $ref: '#/components/responses/OperationOutcomeForbidden'
        default:
          $ref: '#/components/responses/OperationOutcomeError'
  /Organization:
    servers:
      - url: https://pcm2m.health.gov.il/r4
    get:
      tags: [Organization]
      operationId: searchOrganizations
      summary: Search organizations
      description: |
        Search organizations by supported parameters. Used for discovery and retrieval,
        including searches by active flag or identifier.
      parameters:
        - $ref: '#/components/parameters/_id'
        - $ref: '#/components/parameters/identifier'
        - $ref: '#/components/parameters/active'
        - $ref: '#/components/parameters/type'
        - $ref: '#/components/parameters/partof'
        - $ref: '#/components/parameters/_lastUpdated'
        - $ref: '#/components/parameters/Organization_include'
        - $ref: '#/components/parameters/Organization_include_iterate'
      responses:
        '200':
          description: Bundle of matching organizations
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/PCMOrganizationSearchBundle'
              examples:
                sourceOrganizationsWithParents:
                  $ref: '#/components/examples/OrganizationSourceSearchWithParentBundle'
                serviceProvidersByParent:
                  $ref: '#/components/examples/OrganizationServiceProviderByParentSearchBundle'
        '400':
          $ref: '#/components/responses/OperationOutcomeBadRequest'
        '401':
          $ref: '#/components/responses/OperationOutcomeUnauthorized'
        '403':
          $ref: '#/components/responses/OperationOutcomeForbidden'
        default:
          $ref: '#/components/responses/OperationOutcomeError'
    post:
      tags: [Organization]
      operationId: createServiceProviderOrganization
      summary: Create Service Provider child organization
      description: |
        After PCM separately authorizes Service Provider expansion, creates one
        Service Provider child under the authenticated organization's Parent. PCM
        derives and validates the Parent and role, assigns the logical and PCM
        business identifiers and authoritative name, and returns the child. PCM
        manages the optional read-only redirect projection from its OAuth client
        registration; a supplied redirect URI or other prohibited field rejects the
        complete request. The interaction does not
        allocate an OAuth client or register a certificate. Parent and Data Source
        child creation are not supported.
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/PCMOrganizationServiceProviderCreateRequest'
            examples:
              serviceProviderCreate:
                $ref: '#/components/examples/OrganizationServiceProviderCreate'
      responses:
        '201':
          description: Created Service Provider child
          headers:
            Location:
              $ref: '#/components/headers/Location'
            Content-Location:
              $ref: '#/components/headers/ContentLocation'
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/PCMOrganizationServiceProvider'
              examples:
                serviceProviderOrganization:
                  $ref: '#/components/examples/OrganizationServiceProviderRetrieval'
        '400':
          $ref: '#/components/responses/OperationOutcomeOrganizationCreateBadRequest'
        '401':
          $ref: '#/components/responses/OperationOutcomeUnauthorized'
        '403':
          $ref: '#/components/responses/OperationOutcomeOrganizationCreateForbidden'
        '409':
          $ref: '#/components/responses/OperationOutcomeConflict'
        '422':
          $ref: '#/components/responses/OperationOutcomeUnprocessable'
        default:
          $ref: '#/components/responses/OperationOutcomeError'

  /Organization/_search:
    servers:
      - url: https://pcm2m.health.gov.il/r4
    post:
      tags: [Organization]
      operationId: searchOrganizationsPost
      summary: Search organizations using form parameters
      description: Equivalent to `GET /Organization` with the same supported parameters, authorization ceiling, result profile, and errors.
      requestBody:
        required: false
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OrganizationSearchParameters'
            encoding:
              _include:
                style: form
                explode: true
              '_include:iterate':
                style: form
                explode: true
      responses:
        '200':
          description: Bundle of matching organizations
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/PCMOrganizationSearchBundle'
              examples:
                sourceOrganizationsWithParents:
                  $ref: '#/components/examples/OrganizationSourceSearchWithParentBundle'
        '400':
          $ref: '#/components/responses/OperationOutcomeBadRequest'
        '401':
          $ref: '#/components/responses/OperationOutcomeUnauthorized'
        '403':
          $ref: '#/components/responses/OperationOutcomeForbidden'
        default:
          $ref: '#/components/responses/OperationOutcomeError'

  /Organization/{id}:
    servers:
      - url: https://pcm2m.health.gov.il/r4
    get:
      tags: [Organization]
      operationId: readOrganization
      summary: Read organization
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Organization resource
          headers:
            Last-Modified:
              $ref: '#/components/headers/LastModified'
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/PCMOrganization'
              examples:
                parentOrganization:
                  $ref: '#/components/examples/OrganizationParentRetrieval'
                serviceProviderOrganization:
                  $ref: '#/components/examples/OrganizationServiceProviderRetrieval'
                longDurationServiceProvider:
                  $ref: '#/components/examples/OrganizationServiceProviderLongDuration'
                dataSourceOrganization:
                  $ref: '#/components/examples/OrganizationDataSourceRetrieval'
                pcmSystemOrganization:
                  $ref: '#/components/examples/OrganizationPcmSystem'
                equalLogicalAndBusinessId:
                  $ref: '#/components/examples/OrganizationEqualLogicalBusinessId'
        '400':
          $ref: '#/components/responses/OperationOutcomeBadRequest'
        '401':
          $ref: '#/components/responses/OperationOutcomeUnauthorized'
        '403':
          $ref: '#/components/responses/OperationOutcomeForbidden'
        '404':
          $ref: '#/components/responses/OperationOutcomeNotFound'
        default:
          $ref: '#/components/responses/OperationOutcomeError'
    head:
      tags: [Organization]
      operationId: headOrganization
      summary: Check organization existence
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Organization exists.
          headers:
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Organization not found.
    put:
      tags: [Organization]
      operationId: updateOrganization
      summary: Update organization
      description: |
        Used by organizations to update allowed fields depending on Organization type.
        Parent Organization updates are limited to contact details. Service Provider
        children may update contact overrides. Data Source children may update contact
        overrides and their own validated Endpoint linkage. MoH/PCM exclusively
        controls Parent and child Organization.active. Parent inactivity gates child
        use without rewriting the child active values.
        The body `id` must equal the URL id. The complete client-writable
        projection is replaced: omitted optional writable fields are removed and
        repeating fields replace the stored collection. Every other business element,
        including identifier, active, role, Parent linkage, OAuth redirect projection,
        and applicable-certificate inventory, is prohibited. Its presence rejects the
        whole update. Submitted `meta.versionId` and `meta.lastUpdated` are
        prohibited. Accepted updates use last-write-wins
        only after complete validation; `If-Match` and PATCH are not supported.
      parameters:
        - $ref: '#/components/parameters/id'
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/PCMOrganizationUpdateRequest'
            examples:
              parentOrganizationUpdate:
                $ref: '#/components/examples/OrganizationParentSubmit'
              serviceProviderUpdate:
                $ref: '#/components/examples/OrganizationServiceProviderSubmit'
              dataSourceUpdate:
                $ref: '#/components/examples/OrganizationDataSourceSubmit'
      responses:
        '200':
          description: Updated organization
          headers:
            Last-Modified:
              $ref: '#/components/headers/LastModified'
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/PCMOrganization'
              examples:
                parentOrganization:
                  $ref: '#/components/examples/OrganizationParentRetrieval'
                serviceProviderOrganization:
                  $ref: '#/components/examples/OrganizationServiceProviderRetrieval'
                dataSourceOrganization:
                  $ref: '#/components/examples/OrganizationDataSourceRetrieval'
        '400':
          $ref: '#/components/responses/OperationOutcomeBadRequest'
        '401':
          $ref: '#/components/responses/OperationOutcomeUnauthorized'
        '403':
          $ref: '#/components/responses/OperationOutcomeForbidden'
        '404':
          $ref: '#/components/responses/OperationOutcomeNotFound'
        '409':
          $ref: '#/components/responses/OperationOutcomeConflict'
        '422':
          $ref: '#/components/responses/OperationOutcomeUnprocessable'
        default:
          $ref: '#/components/responses/OperationOutcomeError'

  /Endpoint:
    servers:
      - url: https://pcm2m.health.gov.il/r4
    get:
      tags: [Endpoint]
      operationId: searchEndpoints
      summary: Search endpoints
      parameters:
        - $ref: '#/components/parameters/_id'
        - $ref: '#/components/parameters/_lastUpdated'
        - $ref: '#/components/parameters/thumbprint'
      responses:
        '200':
          description: Bundle of endpoints
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/PCMEndpointSearchBundle'
              examples:
                endpointSearch:
                  $ref: '#/components/examples/EndpointSearchBundle'
                thumbprintInventorySearch:
                  $ref: '#/components/examples/EndpointThumbprintSearchBundle'
        '400':
          $ref: '#/components/responses/OperationOutcomeBadRequest'
        '401':
          $ref: '#/components/responses/OperationOutcomeUnauthorized'
        '403':
          $ref: '#/components/responses/OperationOutcomeForbidden'
        default:
          $ref: '#/components/responses/OperationOutcomeError'
    post:
      tags: [Endpoint]
      operationId: createEndpoint
      summary: Create endpoint
      description: |
        Creates an Endpoint owned by the authenticated Data Source. The request
        supplies an exact HTTPS FHIR base address and initial status `active` or
        `suspended`; creation as `off` is invalid. `connectionType` and `payloadType`
        are fixed request-envelope values. PCM derives `managingOrganization`.
        Identity, ownership, and certificate-inventory input is prohibited.
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/PCMEndpointCreateRequest'
            examples:
              endpointSubmit:
                $ref: '#/components/examples/EndpointSubmit'
      responses:
        '201':
          description: Created endpoint
          headers:
            Location:
              $ref: '#/components/headers/Location'
            Content-Location:
              $ref: '#/components/headers/ContentLocation'
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/PCMEndpoint'
              examples:
                endpointCreated:
                  $ref: '#/components/examples/EndpointRetrieval'
          links:
            ReadEndpointById:
              operationId: readEndpoint
              parameters:
                id: '$response.body#/id'
              description: Follow-up read of the created Endpoint.
        '400':
          $ref: '#/components/responses/OperationOutcomeBadRequest'
        '401':
          $ref: '#/components/responses/OperationOutcomeUnauthorized'
        '403':
          $ref: '#/components/responses/OperationOutcomeForbidden'
        '409':
          $ref: '#/components/responses/OperationOutcomeConflict'
        '422':
          $ref: '#/components/responses/OperationOutcomeUnprocessable'
        default:
          $ref: '#/components/responses/OperationOutcomeError'

  /Endpoint/_search:
    servers:
      - url: https://pcm2m.health.gov.il/r4
    post:
      tags: [Endpoint]
      operationId: searchEndpointsPost
      summary: Search endpoints using form parameters
      description: Equivalent to `GET /Endpoint` with the same supported parameters, authorization ceiling, result profile, and errors.
      requestBody:
        required: false
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EndpointSearchParameters'
            examples:
              thumbprintInventoryLookup:
                summary: Look up visible Endpoint inventory by associated-certificate thumbprint
                description: |
                  This filter reads PCM's associated-certificate inventory. It does
                  not register or authorize a certificate, describe the complete
                  trust store, prove current certificate presentation, declare token
                  binding, or widen the caller's authorized Endpoint result set.
                value:
                  thumbprint: AzYdwvaDPYEcNh9kZXLhKkjeo2_nO1Sx9FrqT9AxCXo
      responses:
        '200':
          description: Bundle of endpoints
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/PCMEndpointSearchBundle'
              examples:
                endpointSearch:
                  $ref: '#/components/examples/EndpointSearchBundle'
                thumbprintInventorySearch:
                  $ref: '#/components/examples/EndpointThumbprintSearchBundle'
        '400':
          $ref: '#/components/responses/OperationOutcomeBadRequest'
        '401':
          $ref: '#/components/responses/OperationOutcomeUnauthorized'
        '403':
          $ref: '#/components/responses/OperationOutcomeForbidden'
        default:
          $ref: '#/components/responses/OperationOutcomeError'

  /Endpoint/{id}:
    servers:
      - url: https://pcm2m.health.gov.il/r4
    get:
      tags: [Endpoint]
      operationId: readEndpoint
      summary: Read endpoint
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Endpoint resource
          headers:
            Last-Modified:
              $ref: '#/components/headers/LastModified'
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/PCMEndpoint'
              examples:
                endpointRetrieval:
                  $ref: '#/components/examples/EndpointRetrieval'
                endpointPcmSystem:
                  $ref: '#/components/examples/EndpointPcmSystem'
        '400':
          $ref: '#/components/responses/OperationOutcomeBadRequest'
        '401':
          $ref: '#/components/responses/OperationOutcomeUnauthorized'
        '403':
          $ref: '#/components/responses/OperationOutcomeForbidden'
        '404':
          $ref: '#/components/responses/OperationOutcomeNotFound'
        default:
          $ref: '#/components/responses/OperationOutcomeError'
    head:
      tags: [Endpoint]
      operationId: headEndpoint
      summary: Check endpoint existence
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Endpoint exists.
          headers:
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Endpoint not found.
    put:
      tags: [Endpoint]
      operationId: updateEndpoint
      summary: Update endpoint
      description: |
        Replaces the complete Data Source-writable Endpoint projection. The body
        `id` must equal the URL id. The owner controls status through `active`,
        `suspended`, and terminal `off`: active and suspended are reversible,
        active/suspended may become off, off cannot be restored, and same-state
        requests are idempotent. An address change is accepted only while the
        current Endpoint is suspended and immediately invalidates the old audience.
        A referenced Endpoint cannot be turned off; create and validate a replacement,
        link it from the Data Source Organization, then retire the old Endpoint.
        PCM derives ownership. `managingOrganization`, identity, certificate inventory,
        and every other prohibited element reject the whole request. Submitted
        `meta.versionId` and `meta.lastUpdated` are prohibited. Only the currently
        referenced active Endpoint is eligible for source-token issuance and active
        introspection. Suspension/off does not mutate Consent or waive reporting, and
        PCM management access remains available for resume/replacement. `If-Match`
        and PATCH are not supported.
      parameters:
        - $ref: '#/components/parameters/id'
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/PCMEndpointUpdateRequest'
            examples:
              endpointAddressUpdateWhileSuspended:
                $ref: '#/components/examples/EndpointUpdate'
              endpointRetireAfterReplacement:
                $ref: '#/components/examples/EndpointOldOff'
      responses:
        '200':
          description: Updated endpoint
          headers:
            Last-Modified:
              $ref: '#/components/headers/LastModified'
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/PCMEndpoint'
              examples:
                endpointUpdated:
                  $ref: '#/components/examples/EndpointRetrieval'
        '400':
          $ref: '#/components/responses/OperationOutcomeBadRequest'
        '401':
          $ref: '#/components/responses/OperationOutcomeUnauthorized'
        '403':
          $ref: '#/components/responses/OperationOutcomeForbidden'
        '404':
          $ref: '#/components/responses/OperationOutcomeNotFound'
        '409':
          $ref: '#/components/responses/OperationOutcomeConflict'
        '422':
          $ref: '#/components/responses/OperationOutcomeUnprocessable'
        default:
          $ref: '#/components/responses/OperationOutcomeError'

  /HealthcareService:
    servers:
      - url: https://pcm2m.health.gov.il/r4
    get:
      tags: [HealthcareService]
      operationId: searchHealthcareServices
      summary: Search services
      description: |
        Search canonical catalog services and provider service registrations.
        Use `_tag=http://pcm.fhir.health.gov.il/cs/pcm-meta-tag|catalog` to search
        catalog definitions only, and `_tag=http://pcm.fhir.health.gov.il/cs/pcm-meta-tag|instance`
        to search organization registration/instance records only. Instance registry
        searches can also use `organization` to find registrations owned by a Service
        Provider, and `based-on` to find all registrations tied to a canonical catalog
        service.

        Identifier searches can target either PCM HealthcareService identifier system:
        `http://pcm.fhir.health.gov.il/identifier/pcm-healthcareservice-catalog-id`
        for canonical catalog entries, or
        `http://pcm.fhir.health.gov.il/identifier/pcm-healthcareservice-instance-id`
        for provider service registrations.

        Catalog search is a client catalog-discovery surface. For
        `_tag=http://pcm.fhir.health.gov.il/cs/pcm-meta-tag|catalog`, PCM returns only
        active/registrable catalog services; passing `active=true` is redundant, and
        `active=false` is not a supported way to discover pending, frozen, rejected, or
        cancelled catalog records.

        Instance search is the client registry surface. For
        `_tag=http://pcm.fhir.health.gov.il/cs/pcm-meta-tag|instance`, omitting `active`
        returns instance registrations visible to the caller, including active instances
        and pending instances published for objection. `active=true` narrows to externally
        usable instances. `active=false` returns visible inactive instances according to
        the client visibility rules: pending registrations are visible for objection
        handling; rejected/frozen/suspended registrations are visible only to the
        owning Service Provider HO. Cancelled registrations remain owner-visible for
        audit and idempotent retries but are excluded from ordinary discovery.
      parameters:
        - $ref: '#/components/parameters/_id'
        - $ref: '#/components/parameters/identifier'
        - $ref: '#/components/parameters/active'
        - $ref: '#/components/parameters/service_category'
        - $ref: '#/components/parameters/service_type'
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/organization'
        - $ref: '#/components/parameters/_tag'
        - $ref: '#/components/parameters/based_on'
        - $ref: '#/components/parameters/pcm_business_status'
        - $ref: '#/components/parameters/_lastUpdated'
      responses:
        '200':
          description: Bundle of services
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/PCMHealthcareServiceSearchBundle'
              examples:
                activeCatalogDiscovery:
                  $ref: '#/components/examples/HealthcareServiceActiveCatalogSearchBundle'
                instanceRegistry:
                  $ref: '#/components/examples/HealthcareServiceInstanceRegistrySearchBundle'
                pendingRegistrations:
                  $ref: '#/components/examples/HealthcareServicePendingRegistrationSearchBundle'
        '400':
          $ref: '#/components/responses/OperationOutcomeBadRequest'
        '401':
          $ref: '#/components/responses/OperationOutcomeUnauthorized'
        '403':
          $ref: '#/components/responses/OperationOutcomeForbidden'
        default:
          $ref: '#/components/responses/OperationOutcomeError'
    post:
      tags: [HealthcareService]
      operationId: createHealthcareService
      summary: Register service or request a new service
      description: |
        Service providers discover active catalog services first with
        `GET /HealthcareService?_tag=http://pcm.fhir.health.gov.il/cs/pcm-meta-tag|catalog&active=true`.
        If a suitable active canonical catalog service exists, the provider posts a
        minimal instance HealthcareService with the `basedOn` extension to register
        for that service. If no suitable service exists, the provider posts a full
        new-service registration request through the same instance flow, including
        service name, purpose, information buckets, history depth, access mode,
        access duration, clinical information, and example queries.

        The calling Service Provider child Organization must be operationally active:
        child and Parent are active and all documented policy preconditions permit use.

        Submit profiles are interaction-specific server validation profiles; their
        canonicals are not required in request `meta.profile`. Direct create requests
        must omit `meta.tag`. PCM adds the authoritative HealthcareService
        classification tag to each returned resource: `catalog` for a catalog
        definition and `instance` for a provider registration. A client-supplied
        `meta.tag` is a prohibited field and is rejected with `400 Bad Request` and
        the ordinary validation OperationOutcome.

        `basedOn` present means an existing catalog registration; no `basedOn` with
        a full service definition means a new-service registration request.
        Created/read response examples use the returned
        `pcm-healthcareservice-instance` profile.

        External clients do not directly create canonical catalog services. The
        request shape, including whether `basedOn` is present, selects the create
        path; clients do not select it with a tag.
        For a valid new-service registration request, PCM creates
        both the canonical catalog service and the provider's organization
        registration with `businessStatus=pending` and `active=false`. Activation and
        any required review or exception handling are managed outside this FHIR
        operation. Clients observe the result through extension[businessStatus],
        `HealthcareService.active`, and OperationOutcome responses, not through
        separate public review resources.

        Full service definitions require a human-readable service purpose. The public
        FHIR representation for that purpose is `HealthcareService.extraDetails`, carrying
        the service description/purpose ("תיאור השירות (מטרה)"). Client-supplied `active`,
        `businessStatus`, identifiers, ownership, or other fields outside the selected
        closed submit schema reject the whole request. PCM assigns
        the stable provider-registration business identifier using system
        `http://pcm.fhir.health.gov.il/identifier/pcm-healthcareservice-instance-id`; clients
        must omit `identifier` and `meta.tag`. The interaction profile canonical is
        not required in request `meta.profile`. The separate
        `$request-catalog-update` operation carries a complete proposed catalog
        resource, so that proposal retains its fixed `catalog` classification tag.
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/PCMHealthcareServiceCreateRequest'
            examples:
              existingCatalogInstanceSubmit:
                $ref: '#/components/examples/HealthcareServiceInstanceSubmit'
              newServiceRegistrationSubmit:
                $ref: '#/components/examples/HealthcareServiceNewServiceRegistrationSubmit'
      responses:
        '201':
          description: Created service
          headers:
            Location:
              $ref: '#/components/headers/Location'
            Content-Location:
              $ref: '#/components/headers/ContentLocation'
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/PCMHealthcareServiceInstance'
              examples:
                instanceCreated:
                  $ref: '#/components/examples/HealthcareServiceInstanceRetrieval'
                pendingNewServiceCreated:
                  $ref: '#/components/examples/HealthcareServiceInstancePendingRetrieval'
          links:
            ReadHealthcareServiceById:
              operationId: readHealthcareService
              parameters:
                id: '$response.body#/id'
              description: Follow-up read of the created HealthcareService.
        '400':
          $ref: '#/components/responses/OperationOutcomeBadRequest'
        '401':
          $ref: '#/components/responses/OperationOutcomeUnauthorized'
        '403':
          $ref: '#/components/responses/OperationOutcomeForbidden'
        '409':
          $ref: '#/components/responses/OperationOutcomeServiceConflict'
        '422':
          $ref: '#/components/responses/OperationOutcomeUnprocessable'
        default:
          $ref: '#/components/responses/OperationOutcomeError'

  /HealthcareService/_search:
    servers:
      - url: https://pcm2m.health.gov.il/r4
    post:
      tags: [HealthcareService]
      operationId: searchHealthcareServicesPost
      summary: Search services using form parameters
      description: Equivalent to `GET /HealthcareService` with the same supported parameters, visibility rules, authorization ceiling, result profile, and errors.
      requestBody:
        required: false
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/HealthcareServiceSearchParameters'
      responses:
        '200':
          description: Bundle of services
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/PCMHealthcareServiceSearchBundle'
              examples:
                activeCatalogDiscovery:
                  $ref: '#/components/examples/HealthcareServiceActiveCatalogSearchBundle'
                instanceRegistry:
                  $ref: '#/components/examples/HealthcareServiceInstanceRegistrySearchBundle'
        '400':
          $ref: '#/components/responses/OperationOutcomeBadRequest'
        '401':
          $ref: '#/components/responses/OperationOutcomeUnauthorized'
        '403':
          $ref: '#/components/responses/OperationOutcomeForbidden'
        default:
          $ref: '#/components/responses/OperationOutcomeError'

  /HealthcareService/{id}:
    servers:
      - url: https://pcm2m.health.gov.il/r4
    get:
      tags: [HealthcareService]
      operationId: readHealthcareService
      summary: Read service
      description: |
        Reads a HealthcareService visible to the authenticated client. Client FHIR
        reads may return a non-searchable pending/frozen catalog when the caller
        obtained its direct URL from a visible instance `basedOn` reference. Rejected
        or cancelled canonical resources outside client visibility are returned as
        not found. A cancelled provider instance remains readable only to its owning
        Service Provider for audit and idempotent retries.
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: HealthcareService resource
          headers:
            Last-Modified:
              $ref: '#/components/headers/LastModified'
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/PCMHealthcareService'
              examples:
                catalogRetrieval:
                  $ref: '#/components/examples/HealthcareServiceCatalogRetrieval'
                pendingCatalogRetrieval:
                  $ref: '#/components/examples/HealthcareServiceCatalogPendingRetrieval'
                instanceRetrieval:
                  $ref: '#/components/examples/HealthcareServiceInstanceRetrieval'
                instanceSuspended:
                  $ref: '#/components/examples/HealthcareServiceInstanceSuspended'
                longDurationCatalog:
                  $ref: '#/components/examples/HealthcareServiceExtendedMedicationSafetyCatalog'
                pendingLongDurationRegistration:
                  $ref: '#/components/examples/HealthcareServiceExtendedMedicationSafetyPending'
        '400':
          $ref: '#/components/responses/OperationOutcomeBadRequest'
        '401':
          $ref: '#/components/responses/OperationOutcomeUnauthorized'
        '403':
          $ref: '#/components/responses/OperationOutcomeForbidden'
        '404':
          $ref: '#/components/responses/OperationOutcomeNotFound'
        default:
          $ref: '#/components/responses/OperationOutcomeError'
    head:
      tags: [HealthcareService]
      operationId: headHealthcareService
      summary: Check service existence
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: HealthcareService exists.
          headers:
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: HealthcareService not found.
    put:
      tags: [HealthcareService]
      operationId: updateHealthcareService
      summary: Update service instance business status
      description: |
        The owning Service Provider submits exactly one target
        `extension[businessStatus]` through the closed request schema. Runtime rules
        permit `pending -> cancelled` as withdrawal, `active -> suspended`, and
        `suspended -> active|cancelled`; repeating an already-achieved owner target is
        idempotent. Direct owner `active -> cancelled`, PCM/MoH-only targets, changes
        while frozen, and cancelled reactivation are rejected. For a coupled pending
        new-service request, withdrawal also cancels its linked pending canonical;
        withdrawal against an existing canonical cancels only the instance.
        A PCM/MoH freeze preserves the pre-freeze owner state (`active` or
        `suspended`) and restores that state when the freeze is lifted; the owner
        cannot change it while frozen.
        Suspension temporarily inactivates affected eligible Consents; resumption may
        restore them only after PCM revalidates every current authorization condition.
        Withdrawal or termination permanently inactivates the affected Consents.
        `HealthcareService.active` is prohibited in the request and derived by PCM.
        Every definition, identity, ownership, linkage, review, or HealthcareService
        classification-tag field (`meta.tag`) is prohibited. Submitted
        `meta.versionId` and `meta.lastUpdated` are also prohibited.
        The interaction profile canonical is not required in request `meta.profile`.

        This operation does not accept canonical catalog changes. Non-material catalog
        update requests use `POST /HealthcareService/{id}/$request-catalog-update`.
        Material catalog changes must be submitted through the new-service registration
        flow.
        The body `id` must equal the URL id. `If-Match` and PATCH are not supported.
        An accepted transition updates that same provider-instance resource: the
        response retains its logical id and PCM business identifier; state names are
        never appended to either identity.
        Owner status transitions preserve the existing PCM-managed `approvalWindow`
        unchanged, including in a terminal cancelled response. The request must not
        include that extension.
        `active=true` if and only if `businessStatus=active`; pending, rejected,
        frozen, suspended, and cancelled resources have `active=false`.
      parameters:
        - $ref: '#/components/parameters/id'
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/PCMHealthcareServiceBusinessStatusUpdateRequest'
            examples:
              instanceSuspend:
                $ref: '#/components/examples/HealthcareServiceInstanceSuspend'
              instanceResume:
                $ref: '#/components/examples/HealthcareServiceInstanceResume'
              instanceTerminate:
                $ref: '#/components/examples/HealthcareServiceInstanceTerminate'
              instanceWithdraw:
                $ref: '#/components/examples/HealthcareServiceInstanceWithdraw'
      responses:
        '200':
          description: Updated service
          headers:
            Last-Modified:
              $ref: '#/components/headers/LastModified'
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/PCMHealthcareServiceInstance'
              examples:
                instanceSuspended:
                  $ref: '#/components/examples/HealthcareServiceInstanceSuspended'
                instanceResumed:
                  $ref: '#/components/examples/HealthcareServiceInstanceResumed'
                instanceTerminated:
                  $ref: '#/components/examples/HealthcareServiceInstanceTerminated'
                instanceWithdrawn:
                  $ref: '#/components/examples/HealthcareServiceInstanceWithdrawn'
        '400':
          $ref: '#/components/responses/OperationOutcomeBadRequest'
        '401':
          $ref: '#/components/responses/OperationOutcomeUnauthorized'
        '403':
          $ref: '#/components/responses/OperationOutcomeForbidden'
        '422':
          $ref: '#/components/responses/OperationOutcomeUnprocessable'
        '409':
          $ref: '#/components/responses/OperationOutcomeServiceConflict'
        '404':
          $ref: '#/components/responses/OperationOutcomeNotFound'
        default:
          $ref: '#/components/responses/OperationOutcomeError'

  /HealthcareService/{id}/$request-catalog-update:
    servers:
      - url: https://pcm2m.health.gov.il/r4
    post:
      tags: [HealthcareService]
      operationId: requestHealthcareServiceCatalogUpdate
      summary: Request canonical service catalog update
      x-pcm-live-inheritance-examples:
        before:
          resourceType: Bundle
          id: bundle-catalog-update-live-inheritance-before
          entry:
          - fullUrl: https://pcm2m.health.gov.il/r4/HealthcareService/svc-catalog-cross-org-summary
            resource:
              resourceType: HealthcareService
              id: svc-catalog-cross-org-summary
              meta:
                lastUpdated: "2026-01-05T08:05:00Z"
                profile:
                - http://pcm.fhir.health.gov.il/StructureDefinition/pcm-healthcareservice-canonical
                tag:
                - system: http://pcm.fhir.health.gov.il/cs/pcm-meta-tag
                  code: catalog
                  display: Catalog
              identifier:
              - use: official
                system: http://pcm.fhir.health.gov.il/identifier/pcm-healthcareservice-catalog-id
                value: PCM-CAT-0101
              extension:
              - valueCoding:
                  system: http://pcm.fhir.health.gov.il/cs/pcm-service-business-status
                  code: active
                  display: Active
                url: http://pcm.fhir.health.gov.il/StructureDefinition/ext-service-business-status
              - url: http://pcm.fhir.health.gov.il/StructureDefinition/ext-access-mode
                valueCode: continuous
              - valueDuration:
                  system: http://unitsofmeasure.org
                  value: 6
                  code: mo
                  unit: months
                url: http://pcm.fhir.health.gov.il/StructureDefinition/ext-access-duration
              - url: http://pcm.fhir.health.gov.il/StructureDefinition/ext-example-query
                valueString: GET [FHIR BASE]/Observation?category=laboratory&_lastUpdated=ge{{period.start}}
              - url: http://pcm.fhir.health.gov.il/StructureDefinition/ext-example-query
                valueString: GET [FHIR BASE]/MedicationRequest?_lastUpdated=ge{{period.start}}
              - url: http://pcm.fhir.health.gov.il/StructureDefinition/ext-allow-patient-bucket-change
                valueBoolean: true
              - extension:
                - url: bucket
                  valueCodeableConcept:
                    coding:
                    - system: http://fhir.health.gov.il/cs/il-hdp-information-buckets
                      code: laboratoryTests
                      display: בדיקות מעבדה
                - valueDuration:
                    system: http://unitsofmeasure.org
                    value: 2
                    code: a
                    unit: years
                  url: historyDepth
                url: http://pcm.fhir.health.gov.il/StructureDefinition/ext-information-bucket
              - extension:
                - url: bucket
                  valueCodeableConcept:
                    coding:
                    - system: http://fhir.health.gov.il/cs/il-hdp-information-buckets
                      code: medications
                      display: תרופות
                - valueDuration:
                    system: http://unitsofmeasure.org
                    value: 1
                    code: a
                    unit: years
                  url: historyDepth
                url: http://pcm.fhir.health.gov.il/StructureDefinition/ext-information-bucket
              category:
              - coding:
                - system: http://terminology.hl7.org/CodeSystem/service-category
                  code: '35'
                  display: Hospital
                text: Hospital / continuity of care
              type:
              - coding:
                - code: INFA
                  system: http://terminology.hl7.org/CodeSystem/v3-ActCode
                  display: information access
              active: true
              name: Cross-Organization Patient Summary
              extraDetails: Lets a care team view recent laboratory results and medication information
                to understand current treatment, avoid duplicate tests, and reduce medication-safety
                risks.
          - fullUrl: https://pcm2m.health.gov.il/r4/HealthcareService/svc-instance-hosp-a-cross-org-summary
            resource:
              resourceType: HealthcareService
              id: svc-instance-hosp-a-cross-org-summary
              meta:
                profile:
                - http://pcm.fhir.health.gov.il/StructureDefinition/pcm-healthcareservice-instance
                tag:
                - system: http://pcm.fhir.health.gov.il/cs/pcm-meta-tag
                  code: instance
                  display: Instance
                lastUpdated: '2026-01-05T08:07:00Z'
              identifier:
              - use: official
                system: http://pcm.fhir.health.gov.il/identifier/pcm-healthcareservice-instance-id
                value: PCM-HS-INST-0101
              extension:
              - valueCoding:
                  system: http://pcm.fhir.health.gov.il/cs/pcm-service-business-status
                  code: active
                  display: Active
                url: http://pcm.fhir.health.gov.il/StructureDefinition/ext-service-business-status
              - url: http://pcm.fhir.health.gov.il/StructureDefinition/ext-based-on-canonical-healthcareservice
                valueReference:
                  reference: HealthcareService/svc-catalog-cross-org-summary
              - valuePeriod:
                  start: '2026-01-01T00:00:00+02:00'
                  end: '2026-01-31T00:00:00+02:00'
                url: http://pcm.fhir.health.gov.il/StructureDefinition/ext-approval-window
              - url: http://pcm.fhir.health.gov.il/StructureDefinition/ext-access-mode
                valueCode: continuous
              - valueDuration:
                  system: http://unitsofmeasure.org
                  value: 6
                  code: mo
                  unit: months
                url: http://pcm.fhir.health.gov.il/StructureDefinition/ext-access-duration
              - url: http://pcm.fhir.health.gov.il/StructureDefinition/ext-example-query
                valueString: GET [FHIR BASE]/Observation?category=laboratory&_lastUpdated=ge{{period.start}}
              - url: http://pcm.fhir.health.gov.il/StructureDefinition/ext-example-query
                valueString: GET [FHIR BASE]/MedicationRequest?_lastUpdated=ge{{period.start}}
              - url: http://pcm.fhir.health.gov.il/StructureDefinition/ext-allow-patient-bucket-change
                valueBoolean: true
              - extension:
                - url: bucket
                  valueCodeableConcept:
                    coding:
                    - system: http://fhir.health.gov.il/cs/il-hdp-information-buckets
                      code: laboratoryTests
                      display: בדיקות מעבדה
                - valueDuration:
                    system: http://unitsofmeasure.org
                    value: 2
                    code: a
                    unit: years
                  url: historyDepth
                url: http://pcm.fhir.health.gov.il/StructureDefinition/ext-information-bucket
              - extension:
                - url: bucket
                  valueCodeableConcept:
                    coding:
                    - system: http://fhir.health.gov.il/cs/il-hdp-information-buckets
                      code: medications
                      display: תרופות
                - valueDuration:
                    system: http://unitsofmeasure.org
                    value: 1
                    code: a
                    unit: years
                  url: historyDepth
                url: http://pcm.fhir.health.gov.il/StructureDefinition/ext-information-bucket
              category:
              - coding:
                - system: http://terminology.hl7.org/CodeSystem/service-category
                  code: '35'
                  display: Hospital
                text: Hospital / continuity of care
              type:
              - coding:
                - code: INFA
                  system: http://terminology.hl7.org/CodeSystem/v3-ActCode
                  display: information access
              active: true
              providedBy:
                reference: Organization/org-sp-hospital-a
              name: Cross-Organization Patient Summary
              extraDetails: Lets a care team view recent laboratory results and medication information
                to understand current treatment, avoid duplicate tests, and reduce medication-safety
                risks.
          type: collection
          timestamp: '2026-01-05T08:10:00Z'
        after:
          resourceType: Bundle
          id: bundle-catalog-update-live-inheritance-after
          entry:
          - fullUrl: https://pcm2m.health.gov.il/r4/HealthcareService/svc-catalog-cross-org-summary
            resource:
              resourceType: HealthcareService
              id: svc-catalog-cross-org-summary
              meta:
                profile:
                - http://pcm.fhir.health.gov.il/StructureDefinition/pcm-healthcareservice-canonical
                tag:
                - system: http://pcm.fhir.health.gov.il/cs/pcm-meta-tag
                  code: catalog
                  display: Catalog
                lastUpdated: '2026-01-20T08:00:00Z'
              identifier:
              - use: official
                system: http://pcm.fhir.health.gov.il/identifier/pcm-healthcareservice-catalog-id
                value: PCM-CAT-0101
              extension:
              - url: http://pcm.fhir.health.gov.il/StructureDefinition/ext-service-business-status
                valueCoding:
                  system: http://pcm.fhir.health.gov.il/cs/pcm-service-business-status
                  code: active
                  display: Active
              - url: http://pcm.fhir.health.gov.il/StructureDefinition/ext-access-mode
                valueCode: continuous
              - valueDuration:
                  system: http://unitsofmeasure.org
                  value: 6
                  code: mo
                  unit: months
                url: http://pcm.fhir.health.gov.il/StructureDefinition/ext-access-duration
              - url: http://pcm.fhir.health.gov.il/StructureDefinition/ext-example-query
                valueString: GET [FHIR BASE]/Observation?category=laboratory&_lastUpdated=ge{{period.start}}
              - url: http://pcm.fhir.health.gov.il/StructureDefinition/ext-example-query
                valueString: GET [FHIR BASE]/MedicationRequest?_lastUpdated=ge{{period.start}}
              - url: http://pcm.fhir.health.gov.il/StructureDefinition/ext-allow-patient-bucket-change
                valueBoolean: true
              - extension:
                - url: bucket
                  valueCodeableConcept:
                    coding:
                    - system: http://fhir.health.gov.il/cs/il-hdp-information-buckets
                      code: laboratoryTests
                      display: בדיקות מעבדה
                - valueDuration:
                    system: http://unitsofmeasure.org
                    value: 2
                    code: a
                    unit: years
                  url: historyDepth
                url: http://pcm.fhir.health.gov.il/StructureDefinition/ext-information-bucket
              - extension:
                - url: bucket
                  valueCodeableConcept:
                    coding:
                    - system: http://fhir.health.gov.il/cs/il-hdp-information-buckets
                      code: medications
                      display: תרופות
                - valueDuration:
                    system: http://unitsofmeasure.org
                    value: 1
                    code: a
                    unit: years
                  url: historyDepth
                url: http://pcm.fhir.health.gov.il/StructureDefinition/ext-information-bucket
              category:
              - coding:
                - system: http://terminology.hl7.org/CodeSystem/service-category
                  code: '35'
                  display: Hospital
                text: Hospital / continuity of care
              type:
              - coding:
                - code: INFA
                  system: http://terminology.hl7.org/CodeSystem/v3-ActCode
                  display: information access
              active: true
              name: Cross-Organization Patient Summary
              extraDetails: Lets a care team view recent laboratory results and medication information
                during cross-organization continuity of care to understand current treatment,
                avoid duplicate tests, and reduce medication-safety risks.
          - fullUrl: https://pcm2m.health.gov.il/r4/HealthcareService/svc-instance-hosp-a-cross-org-summary
            resource:
              resourceType: HealthcareService
              id: svc-instance-hosp-a-cross-org-summary
              meta:
                profile:
                - http://pcm.fhir.health.gov.il/StructureDefinition/pcm-healthcareservice-instance
                tag:
                - system: http://pcm.fhir.health.gov.il/cs/pcm-meta-tag
                  code: instance
                  display: Instance
                lastUpdated: '2026-01-20T08:00:01Z'
              identifier:
              - use: official
                system: http://pcm.fhir.health.gov.il/identifier/pcm-healthcareservice-instance-id
                value: PCM-HS-INST-0101
              extension:
              - url: http://pcm.fhir.health.gov.il/StructureDefinition/ext-service-business-status
                valueCoding:
                  system: http://pcm.fhir.health.gov.il/cs/pcm-service-business-status
                  code: active
                  display: Active
              - url: http://pcm.fhir.health.gov.il/StructureDefinition/ext-based-on-canonical-healthcareservice
                valueReference:
                  reference: HealthcareService/svc-catalog-cross-org-summary
              - valuePeriod:
                  start: '2026-01-01T00:00:00+02:00'
                  end: '2026-01-31T00:00:00+02:00'
                url: http://pcm.fhir.health.gov.il/StructureDefinition/ext-approval-window
              - url: http://pcm.fhir.health.gov.il/StructureDefinition/ext-access-mode
                valueCode: continuous
              - valueDuration:
                  system: http://unitsofmeasure.org
                  value: 6
                  code: mo
                  unit: months
                url: http://pcm.fhir.health.gov.il/StructureDefinition/ext-access-duration
              - url: http://pcm.fhir.health.gov.il/StructureDefinition/ext-example-query
                valueString: GET [FHIR BASE]/Observation?category=laboratory&_lastUpdated=ge{{period.start}}
              - url: http://pcm.fhir.health.gov.il/StructureDefinition/ext-example-query
                valueString: GET [FHIR BASE]/MedicationRequest?_lastUpdated=ge{{period.start}}
              - url: http://pcm.fhir.health.gov.il/StructureDefinition/ext-allow-patient-bucket-change
                valueBoolean: true
              - extension:
                - url: bucket
                  valueCodeableConcept:
                    coding:
                    - system: http://fhir.health.gov.il/cs/il-hdp-information-buckets
                      code: laboratoryTests
                      display: בדיקות מעבדה
                - valueDuration:
                    system: http://unitsofmeasure.org
                    value: 2
                    code: a
                    unit: years
                  url: historyDepth
                url: http://pcm.fhir.health.gov.il/StructureDefinition/ext-information-bucket
              - extension:
                - url: bucket
                  valueCodeableConcept:
                    coding:
                    - system: http://fhir.health.gov.il/cs/il-hdp-information-buckets
                      code: medications
                      display: תרופות
                - valueDuration:
                    system: http://unitsofmeasure.org
                    value: 1
                    code: a
                    unit: years
                  url: historyDepth
                url: http://pcm.fhir.health.gov.il/StructureDefinition/ext-information-bucket
              category:
              - coding:
                - system: http://terminology.hl7.org/CodeSystem/service-category
                  code: '35'
                  display: Hospital
                text: Hospital / continuity of care
              type:
              - coding:
                - code: INFA
                  system: http://terminology.hl7.org/CodeSystem/v3-ActCode
                  display: information access
              active: true
              providedBy:
                reference: Organization/org-sp-hospital-a
              name: Cross-Organization Patient Summary
              extraDetails: Lets a care team view recent laboratory results and medication information
                during cross-organization continuity of care to understand current treatment,
                avoid duplicate tests, and reduce medication-safety risks.
          type: collection
          timestamp: '2026-01-20T08:00:02Z'
      description: |
        Submit a proposed non-material update to an existing canonical
        HealthcareService catalog entry for PCM/MoH review. This is a FHIR
        operation, not a REST update interaction: the active canonical
        HealthcareService is not changed by the operation response.

        The request body is a FHIR `Parameters` resource. Parameter
        `proposedCatalog` contains the complete proposed canonical HealthcareService
        representation after the requested change and its id must match the operation
        target. Optional parameter `reason` carries requester rationale.

        Only `name`, `extraDetails`, and `extension[exampleQuery]` may differ
        semantically from the current catalog entry; a changed name remains subject
        to the catalog uniqueness check. PCM rejects any known protected-field difference in
        `category`, `type`, information buckets or history depth, tagged details,
        `accessMode`, `accessDuration`, `allowPatientBucketChange`, identifiers,
        tags, lifecycle state, linkage, or any other field as material or
        unsupported. The outer Parameters request prohibits `meta.versionId` and
        `meta.lastUpdated`; the embedded complete `proposedCatalog` may retain both
        optional values copied from the retrieved canonical. PCM removes them before
        comparison, and neither provides optimistic concurrency. Comparison is
        otherwise semantic rather than raw JSON: proposal version/timestamp metadata,
        coding display text, representation ordering, and unknown ordinary
        non-modifier extensions are neutral. Unknown ordinary extensions are accepted without interpretation or
        a round-trip guarantee; unsupported modifier extensions reject the request.
        Material changes use the new-service registration flow.
        Ordinary canonical `PUT /HealthcareService/{id}` remains unsupported.
      parameters:
        - $ref: '#/components/parameters/id'
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/PCMRequestCatalogUpdateParameters'
            examples:
              catalogUpdateRequest:
                $ref: '#/components/examples/ParametersCatalogUpdateRequest'
      responses:
        '200':
          description: Catalog update request accepted for PCM/MoH review
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/PCMRequestCatalogUpdateAcceptedParameters'
              examples:
                catalogUpdateAccepted:
                  $ref: '#/components/examples/ParametersCatalogUpdateAccepted'
        '400':
          $ref: '#/components/responses/OperationOutcomeBadRequest'
        '401':
          $ref: '#/components/responses/OperationOutcomeUnauthorized'
        '403':
          $ref: '#/components/responses/OperationOutcomeForbidden'
        '422':
          $ref: '#/components/responses/OperationOutcomeUnprocessable'
        '404':
          $ref: '#/components/responses/OperationOutcomeNotFound'
        default:
          $ref: '#/components/responses/OperationOutcomeError'

  /Consent:
    servers:
      - url: https://pcm2m.health.gov.il/r4
    get:
      tags: [Consent]
      operationId: searchConsents
      summary: Search consents
      description: |
        Search consents by supported parameters. Use _include to return actor
        organizations, endpoints, and parent orgs in a single bundle.
      parameters:
        - $ref: '#/components/parameters/_id'
        - $ref: '#/components/parameters/identifier'
        - $ref: '#/components/parameters/status'
        - $ref: '#/components/parameters/patient'
        - $ref: '#/components/parameters/patient_identifier'
        - $ref: '#/components/parameters/pcm_service'
        - $ref: '#/components/parameters/pcm_business_status'
        - $ref: '#/components/parameters/_lastUpdated'
        - $ref: '#/components/parameters/Consent_include'
        - $ref: '#/components/parameters/Consent_include_iterate'
      responses:
        '200':
          description: Bundle of consents
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/PCMConsentSearchBundle'
              examples:
                proposedByPatient:
                  $ref: '#/components/examples/ConsentProposedPatientSearchBundle'
                byService:
                  $ref: '#/components/examples/ConsentByServiceSearchBundle'
                withIncludes:
                  $ref: '#/components/examples/ConsentIncludeBundle'
        '400':
          $ref: '#/components/responses/OperationOutcomeBadRequest'
        '401':
          $ref: '#/components/responses/OperationOutcomeUnauthorized'
        '403':
          $ref: '#/components/responses/OperationOutcomeForbidden'
        default:
          $ref: '#/components/responses/OperationOutcomeError'
    post:
      tags: [Consent]
      operationId: createConsent
      summary: Create consent request
      description: |
        Create a proposed consent request for a patient and a service provider's
        HealthcareService instance. The `pcm-service` extension must reference an
        existing active instance service. PCM rejects requests that omit the service,
        point to a canonical catalog service, or point to an inactive or otherwise
        unusable instance. The calling Service Provider child Organization must be
        operationally active: the child and Parent are active and all documented
        policy preconditions permit use. Token issuance later repeats Organization and service
        state checks, so an
        existing active Consent does not authorize data-source access after the
        Service Provider, target Data Source, service instance, or referenced catalog
        becomes inactive/non-usable. The accepted request shape is documented
        by the interaction-specific `pcm-consent-submit` server validation profile;
        its canonical is not required in request `meta.profile`.
        `scope=patient-privacy`, `category=INFA`, and the fixed legal `policy` are
        mandatory on submit. Created/read response examples use the returned
        `pcm-consent` profile. Every other Consent business element is prohibited in
        the request and rejects the whole request.
        The selected service supplies the initial requested/default access mode and
        maximum duration. An authorized patient decision, including an assisted or
        delegated flow outside this client API, may narrow continuous access to
        one-time and/or approve a shorter period or later shorten it. The authoritative
        returned Consent carries the requested mode while proposed and the effective
        approved mode and period after approval; it never widens or extends the service
        limits.
        POST is not idempotent. If the client cannot determine whether a request
        succeeded, it searches its own Consents by patient, service, and status
        before deciding whether to retry; a retry can create a second Consent.
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/PCMConsentCreateRequest'
            examples:
              consentRequest:
                $ref: '#/components/examples/ConsentRequest'
      responses:
        '201':
          description: Created consent
          headers:
            Location:
              $ref: '#/components/headers/Location'
            Content-Location:
              $ref: '#/components/headers/ContentLocation'
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/PCMConsent'
              examples:
                consentCreated:
                  $ref: '#/components/examples/ConsentRequestCreated'
          links:
            ReadConsentById:
              operationId: readConsent
              parameters:
                id: '$response.body#/id'
              description: Follow-up read of the created Consent.
        '400':
          $ref: '#/components/responses/OperationOutcomeConsentCreateBadRequest'
        '401':
          $ref: '#/components/responses/OperationOutcomeUnauthorized'
        '403':
          $ref: '#/components/responses/OperationOutcomeForbidden'
        '422':
          $ref: '#/components/responses/OperationOutcomeUnprocessable'
        default:
          $ref: '#/components/responses/OperationOutcomeError'

  /Consent/_search:
    servers:
      - url: https://pcm2m.health.gov.il/r4
    post:
      tags: [Consent]
      operationId: searchConsentsPost
      summary: Search consents using form parameters
      description: Equivalent to `GET /Consent` with the same supported parameters, authorization ceiling, result profile, and errors.
      requestBody:
        required: false
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ConsentSearchParameters'
            encoding:
              _include:
                style: form
                explode: true
              '_include:iterate':
                style: form
                explode: true
      responses:
        '200':
          description: Bundle of consents
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/PCMConsentSearchBundle'
              examples:
                proposedByPatient:
                  $ref: '#/components/examples/ConsentProposedPatientSearchBundle'
                byService:
                  $ref: '#/components/examples/ConsentByServiceSearchBundle'
        '400':
          $ref: '#/components/responses/OperationOutcomeBadRequest'
        '401':
          $ref: '#/components/responses/OperationOutcomeUnauthorized'
        '403':
          $ref: '#/components/responses/OperationOutcomeForbidden'
        default:
          $ref: '#/components/responses/OperationOutcomeError'

  /Consent/{id}:
    servers:
      - url: https://pcm2m.health.gov.il/r4
    get:
      tags: [Consent]
      operationId: readConsent
      summary: Read consent
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Consent resource
          headers:
            Last-Modified:
              $ref: '#/components/headers/LastModified'
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/PCMConsent'
              examples:
                consentApproved:
                  $ref: '#/components/examples/ConsentApproved'
                consentPatientNarrowed:
                  $ref: '#/components/examples/ConsentPatientNarrowed'
        '400':
          $ref: '#/components/responses/OperationOutcomeBadRequest'
        '401':
          $ref: '#/components/responses/OperationOutcomeUnauthorized'
        '403':
          $ref: '#/components/responses/OperationOutcomeForbidden'
        '404':
          $ref: '#/components/responses/OperationOutcomeNotFound'
        default:
          $ref: '#/components/responses/OperationOutcomeError'
    head:
      tags: [Consent]
      operationId: headConsent
      summary: Check consent existence
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Consent exists.
          headers:
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Consent not found.
    put:
      tags: [Consent]
      operationId: updateConsent
      summary: Deactivate owned consent
      description: |
        Service providers may deactivate a Consent request they created by setting
        `status=inactive`. PCM FHIR API does not expose patient approval, rejection,
        revocation, delegation, or assisted-consent flows; those are handled outside
        this API. Service providers may update only consents they created; deletion
        is not supported.
        The body `id` must equal the URL id. The closed request contains only
        `status=inactive`, fixed `scope=patient-privacy`, `category=INFA`, and legal
        `policy`, optional ordinary unknown extensions, and an optional request-profile
        declaration in `meta.profile`.
        Identity, patient, service, actor, period, access-mode, business-status, and
        every other Consent business element are prohibited; their presence rejects
        the whole request. Submitted `meta.versionId` and `meta.lastUpdated` are
        also prohibited.
        Accepted updates use last-write-wins after complete transition validation;
        `If-Match` and PATCH are not supported. The returned inactive Consent retains
        the same logical id and PCM business identifier.
      parameters:
        - $ref: '#/components/parameters/id'
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/PCMConsentDeactivateRequest'
            examples:
              providerDeactivate:
                $ref: '#/components/examples/ConsentUpdateProviderDeactivate'
      responses:
        '200':
          description: Updated consent
          headers:
            Last-Modified:
              $ref: '#/components/headers/LastModified'
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/PCMConsent'
              examples:
                consentUpdated:
                  $ref: '#/components/examples/ConsentServiceProviderCancelled'
        '400':
          $ref: '#/components/responses/OperationOutcomeBadRequest'
        '401':
          $ref: '#/components/responses/OperationOutcomeUnauthorized'
        '403':
          $ref: '#/components/responses/OperationOutcomeForbidden'
        '404':
          $ref: '#/components/responses/OperationOutcomeNotFound'
        '409':
          $ref: '#/components/responses/OperationOutcomeConflict'
        '422':
          $ref: '#/components/responses/OperationOutcomeUnprocessable'
        default:
          $ref: '#/components/responses/OperationOutcomeError'

components:
  securitySchemes:
    mtlsTransport:
      type: mutualTLS
      description: >
        mTLS is required on every PCM HTTP endpoint, including SMART discovery,
        CapabilityStatement metadata, and all FHIR interactions. The presented
        client certificate is not the OAuth2 client authentication method; OAuth2
        clients additionally authenticate with private_key_jwt at the token and
        introspection endpoints.
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque
      description: OAuth2 bearer token (opaque) required for PCM FHIR API access.

  headers:
    Location:
      description: Absolute URL of the created FHIR resource.
      schema:
        type: string
        format: uri
    ContentLocation:
      description: Absolute URL of the returned current resource representation.
      schema:
        type: string
        format: uri
    LastModified:
      description: Last modification time of the returned authoritative resource.
      schema:
        type: string
        format: http-date

  parameters:
    id:
      name: id
      in: path
      required: true
      schema:
        type: string
    _id:
      name: _id
      in: query
      required: false
      schema:
        type: string
    _tag:
      name: _tag
      in: query
      required: false
      schema:
        type: string
      description: >
        FHIR token search on meta.tag. For HealthcareService use
        `http://pcm.fhir.health.gov.il/cs/pcm-meta-tag|catalog` for catalog
        definitions and `http://pcm.fhir.health.gov.il/cs/pcm-meta-tag|instance`
        for organization registrations/instances.
    identifier:
      name: identifier
      in: query
      required: false
      schema:
        type: string
      description: FHIR identifier search parameter.
    _lastUpdated:
      name: _lastUpdated
      in: query
      required: false
      schema:
        type: string
      description: Standard FHIR instant search parameter on server-managed `meta.lastUpdated`.
    thumbprint:
      name: thumbprint
      in: query
      required: false
      schema:
        type: string
        pattern: '^[A-Za-z0-9_-]{43}$'
      example: AzYdwvaDPYEcNh9kZXLhKkjeo2_nO1Sx9FrqT9AxCXo
      description: |
        Token search on the nested thumbprint value in PCM's read-only
        `ext-applicable-certificates` inventory. A match identifies an
        authorized visible Endpoint whose PCM registry inventory contains the
        value; it does not register a certificate, prove current presentation,
        or declare access-token binding.
    active:
      name: active
      in: query
      required: false
      schema:
        type: string
      description: Search by activation status (token; true|false).
    service_category:
      name: service-category
      in: query
      required: false
      schema:
        type: string
      description: FHIR R4 search by HealthcareService.category.
    status:
      name: status
      in: query
      required: false
      schema:
        type: string
    type:
      name: type
      in: query
      required: false
      schema:
        type: string
      description: Search by Organization.type code.
    service_type:
      name: service-type
      in: query
      required: false
      schema:
        type: string
      description: FHIR R4 search by HealthcareService.type.
    name:
      name: name
      in: query
      required: false
      schema:
        type: string
      description: Search by HealthcareService.name.
    organization:
      name: organization
      in: query
      required: false
      schema:
        type: string
      description: FHIR R4 search by HealthcareService.providedBy (instance profile only).
    based_on:
      name: based-on
      in: query
      required: false
      schema:
        type: string
      description: Search HealthcareService instance registrations by the canonical catalog HealthcareService referenced in the basedOn extension.
    partof:
      name: partof
      in: query
      required: false
      schema:
        type: string
    patient:
      name: patient
      in: query
      required: false
      schema:
        type: string
      description: Search by patient logical reference. Identifier search uses patient:identifier=system|value.
    patient_identifier:
      name: patient:identifier
      in: query
      required: false
      schema:
        type: string
      description: Search Consent.patient by logical identifier, formatted as system|value.
    pcm_service:
      name: pcm-service
      in: query
      required: false
      schema:
        type: string
      description: Search by pcmService extension reference (HealthcareService instance).
    pcm_business_status:
      name: pcm-business-status
      in: query
      required: false
      schema:
        type: string
      description: Search by the PCM-managed business-status extension for HealthcareService or Consent.
    Organization_include:
      name: _include
      in: query
      required: false
      style: form
      explode: true
      schema:
        $ref: '#/components/schemas/OrganizationIncludeValues'
      description: >
        Include authorized Organization endpoints or parents using repeatable FHIR
        `_include` parameters. `_include` never widens access.
    Organization_include_iterate:
      name: _include:iterate
      in: query
      required: false
      style: form
      explode: true
      schema:
        $ref: '#/components/schemas/OrganizationIncludeValues'
      description: >
        Recursively include authorized Organization endpoints or parents using
        repeatable FHIR `_include:iterate` parameters. Recursive inclusion never
        widens access.
    Consent_include:
      name: _include
      in: query
      required: false
      style: form
      explode: true
      schema:
        $ref: '#/components/schemas/ConsentIncludeValues'
      description: >
        Include authorized Consent actors using repeatable FHIR `_include`
        parameters. `_include` never widens access.
    Consent_include_iterate:
      name: _include:iterate
      in: query
      required: false
      style: form
      explode: true
      schema:
        $ref: '#/components/schemas/ConsentIterateIncludeValues'
      description: >
        Recursively include authorized Organization endpoints or parents using
        repeatable FHIR `_include:iterate` parameters. Recursive inclusion never
        widens access.

  responses:
    OperationOutcomeOrganizationCreateBadRequest:
      description: Invalid or unsupported Organization create request (OperationOutcome)
      content:
        application/fhir+json:
          schema:
            $ref: '#/components/schemas/OperationOutcome'
          examples:
            unsupportedChild:
              $ref: '#/components/examples/OperationOutcomeOrganizationCreateUnsupportedChild'
    OperationOutcomeOrganizationCreateForbidden:
      description: Unauthorized Organization create request (OperationOutcome)
      content:
        application/fhir+json:
          schema:
            $ref: '#/components/schemas/OperationOutcome'
          examples:
            wrongRole:
              $ref: '#/components/examples/OperationOutcomeOrganizationCreateWrongRole'
            crossParent:
              $ref: '#/components/examples/OperationOutcomeOrganizationCreateCrossParent'
    OperationOutcomeConsentCreateBadRequest:
      description: Invalid Consent create request (OperationOutcome)
      content:
        application/fhir+json:
          schema:
            $ref: '#/components/schemas/OperationOutcome'
          examples:
            badRequest:
              $ref: '#/components/examples/OperationOutcomeBadRequest'
    OperationOutcomeBadRequest:
      description: Bad request (OperationOutcome)
      content:
        application/fhir+json:
          schema:
            $ref: '#/components/schemas/OperationOutcome'
          examples:
            badRequest:
              $ref: '#/components/examples/OperationOutcomeBadRequest'
            validationFailure:
              $ref: '#/components/examples/OperationOutcomeValidationFailure'
            invalidBasedOn:
              $ref: '#/components/examples/OperationOutcomeInvalidBasedOn'
    OperationOutcomeUnauthorized:
      description: Unauthorized (OperationOutcome)
      content:
        application/fhir+json:
          schema:
            $ref: '#/components/schemas/OperationOutcome'
          examples:
            unauthorized:
              $ref: '#/components/examples/OperationOutcomeUnauthorized'
    OperationOutcomeForbidden:
      description: Forbidden (OperationOutcome)
      content:
        application/fhir+json:
          schema:
            $ref: '#/components/schemas/OperationOutcome'
          examples:
            forbidden:
              $ref: '#/components/examples/OperationOutcomeForbidden'
            authorizationFailure:
              $ref: '#/components/examples/OperationOutcomeAuthorizationFailure'
    OperationOutcomeUnprocessable:
      description: Unprocessable request (OperationOutcome)
      content:
        application/fhir+json:
          schema:
            $ref: '#/components/schemas/OperationOutcome'
          examples:
            materialChange:
              $ref: '#/components/examples/OperationOutcomeMaterialCanonicalChange'
            unsupportedChange:
              $ref: '#/components/examples/OperationOutcomeCanonicalUpdateViaPut'
    OperationOutcomeConflict:
      description: Current-state transition or resource conflict (OperationOutcome)
      content:
        application/fhir+json:
          schema:
            $ref: '#/components/schemas/OperationOutcome'
    OperationOutcomeServiceConflict:
      description: Service registration conflict (OperationOutcome)
      content:
        application/fhir+json:
          schema:
            $ref: '#/components/schemas/OperationOutcome'
          examples:
            duplicateRegistration:
              $ref: '#/components/examples/OperationOutcomeDuplicateServiceRegistration'
            duplicateName:
              $ref: '#/components/examples/OperationOutcomeDuplicateServiceName'
            stateConflict:
              $ref: '#/components/examples/OperationOutcomeStateConflict'
    OperationOutcomeNotFound:
      description: Not found (OperationOutcome)
      content:
        application/fhir+json:
          schema:
            $ref: '#/components/schemas/OperationOutcome'
          examples:
            notFound:
              $ref: '#/components/examples/OperationOutcomeNotFound'
    OperationOutcomeError:
      description: Server error (OperationOutcome)
      content:
        application/fhir+json:
          schema:
            $ref: '#/components/schemas/OperationOutcome'
          examples:
            internalError:
              $ref: '#/components/examples/OperationOutcomeInternalError'

  schemas:
    BaseResource:
      type: object
      required: [resourceType]
      additionalProperties: true
      properties:
        resourceType:
          type: string
        id:
          type: string
        meta:
          $ref: '#/components/schemas/Meta'

    DomainResource:
      allOf:
        - $ref: '#/components/schemas/BaseResource'
        - type: object
          additionalProperties: true
          properties:
            extension:
              type: array
              items:
                $ref: '#/components/schemas/Extension'

    Resource:
      type: object
      required: [resourceType]
      additionalProperties: true
      properties:
        resourceType:
          type: string

    CapabilityStatement:
      allOf:
        - $ref: '#/components/schemas/DomainResource'
        - type: object
          required: [resourceType]
          properties:
            resourceType:
              type: string
              enum: [CapabilityStatement]
            url:
              type: string
            name:
              type: string
            title:
              type: string
            status:
              type: string
            experimental:
              type: boolean
            date:
              type: string
            publisher:
              type: string
            description:
              type: string
            kind:
              type: string
            fhirVersion:
              type: string
            format:
              type: array
              items:
                type: string
            software:
              $ref: '#/components/schemas/CapabilityStatementSoftware'
            implementation:
              $ref: '#/components/schemas/CapabilityStatementImplementation'
            rest:
              type: array
              items:
                $ref: '#/components/schemas/CapabilityStatementRest'

    CapabilityStatementSoftware:
      type: object
      properties:
        name:
          type: string
        version:
          type: string

    CapabilityStatementImplementation:
      type: object
      properties:
        description:
          type: string
        url:
          type: string

    CapabilityStatementRest:
      type: object
      properties:
        mode:
          type: string
        documentation:
          type: string
        security:
          $ref: '#/components/schemas/CapabilityStatementRestSecurity'
        resource:
          type: array
          items:
            $ref: '#/components/schemas/CapabilityStatementRestResource'

    CapabilityStatementRestSecurity:
      type: object
      properties:
        description:
          type: string

    CapabilityStatementRestResource:
      type: object
      properties:
        type:
          type: string
        profile:
          type: string
        supportedProfile:
          type: array
          items:
            type: string
        documentation:
          type: string
        updateCreate:
          type: boolean
        interaction:
          type: array
          items:
            $ref: '#/components/schemas/CapabilityStatementRestResourceInteraction'
        operation:
          type: array
          items:
            $ref: '#/components/schemas/CapabilityStatementRestResourceOperation'
        searchParam:
          type: array
          items:
            $ref: '#/components/schemas/CapabilityStatementRestResourceSearchParam'
        searchInclude:
          type: array
          items:
            type: string

    CapabilityStatementRestResourceInteraction:
      type: object
      properties:
        code:
          type: string

    CapabilityStatementRestResourceOperation:
      type: object
      properties:
        name:
          type: string
        definition:
          type: string
        documentation:
          type: string

    CapabilityStatementRestResourceSearchParam:
      type: object
      properties:
        name:
          type: string
        type:
          type: string
        definition:
          type: string
        documentation:
          type: string

    SmartConfiguration:
      type: object
      description: |
        SMART configuration for the current environment. Clients must tolerate
        additional metadata properties and additional advertised algorithm
        values. `registration_endpoint` is omitted until PCM enables a
        supported dynamic-registration interaction. PCM does not enumerate
        standard SMART v2 scopes in `scopes_supported` and advertises no custom
        non-FHIR scopes.
      required:
        - issuer
        - authorization_endpoint
        - token_endpoint
        - introspection_endpoint
        - grant_types_supported
        - response_types_supported
        - response_modes_supported
        - token_endpoint_auth_methods_supported
        - token_endpoint_auth_signing_alg_values_supported
        - introspection_endpoint_auth_methods_supported
        - introspection_endpoint_auth_signing_alg_values_supported
        - tls_client_certificate_bound_access_tokens
        - code_challenge_methods_supported
        - capabilities
      properties:
        issuer:
          type: string
          format: uri
        authorization_endpoint:
          type: string
          format: uri
        token_endpoint:
          type: string
          format: uri
        introspection_endpoint:
          type: string
          format: uri
        registration_endpoint:
          type: string
          format: uri
          description: Optional OAuth 2.0 dynamic client-registration endpoint. Omitted until the capability is enabled.
        grant_types_supported:
          type: array
          items:
            type: string
        response_types_supported:
          type: array
          items:
            type: string
        response_modes_supported:
          type: array
          items:
            type: string
        token_endpoint_auth_methods_supported:
          type: array
          items:
            type: string
        token_endpoint_auth_signing_alg_values_supported:
          type: array
          minItems: 1
          uniqueItems: true
          contains:
            type: string
            const: ES256
          items:
            type: string
          description: ES256 is the current required baseline; PCM may add other advertised values while retaining ES256 during compatible migration.
        introspection_endpoint_auth_methods_supported:
          type: array
          items:
            type: string
        introspection_endpoint_auth_signing_alg_values_supported:
          type: array
          minItems: 1
          uniqueItems: true
          contains:
            type: string
            const: ES256
          items:
            type: string
          description: ES256 is the current required baseline; PCM may add other advertised values while retaining ES256 during compatible migration.
        tls_client_certificate_bound_access_tokens:
          type: boolean
          const: false
          description: PCM issues Bearer access tokens and does not advertise RFC 8705 certificate-bound access tokens.
        code_challenge_methods_supported:
          type: array
          items:
            type: string
        capabilities:
          type: array
          items:
            type: string

    OrganizationSearchParameters:
      type: object
      additionalProperties: false
      properties:
        _id:
          type: string
        identifier:
          type: string
        active:
          type: string
        type:
          type: string
        partof:
          type: string
        _lastUpdated:
          type: string
        _include:
          $ref: '#/components/schemas/OrganizationIncludeValues'
        '_include:iterate':
          $ref: '#/components/schemas/OrganizationIncludeValues'

    EndpointSearchParameters:
      type: object
      additionalProperties: false
      properties:
        _id:
          type: string
        _lastUpdated:
          type: string
        thumbprint:
          type: string
          pattern: '^[A-Za-z0-9_-]{43}$'
          description: |
            Token search on PCM's read-only associated-certificate inventory.
            Matching does not register or authorize a certificate, describe the
            complete trust store, prove current presentation, or declare token
            binding.

    HealthcareServiceSearchParameters:
      type: object
      additionalProperties: false
      properties:
        _id:
          type: string
        identifier:
          type: string
        active:
          type: string
        service-category:
          type: string
        service-type:
          type: string
        name:
          type: string
        organization:
          type: string
        _tag:
          type: string
        based-on:
          type: string
        pcm-business-status:
          type: string
        _lastUpdated:
          type: string

    ConsentSearchParameters:
      type: object
      additionalProperties: false
      properties:
        _id:
          type: string
        identifier:
          type: string
        status:
          type: string
        patient:
          type: string
        'patient:identifier':
          type: string
        pcm-service:
          type: string
        pcm-business-status:
          type: string
        _lastUpdated:
          type: string
        _include:
          $ref: '#/components/schemas/ConsentIncludeValues'
        '_include:iterate':
          $ref: '#/components/schemas/ConsentIterateIncludeValues'

    OrganizationIncludeValues:
      type: array
      items:
        type: string
        enum:
          - Organization:endpoint
          - Organization:partof

    ConsentIncludeValues:
      type: array
      items:
        type: string
        const: Consent:actor

    ConsentIterateIncludeValues:
      type: array
      items:
        type: string
        enum:
          - Organization:endpoint
          - Organization:partof

    PCMResponseMeta:
      allOf:
        - $ref: '#/components/schemas/Meta'
        - type: object
          required: [lastUpdated, profile]
          properties:
            lastUpdated:
              type: string
              format: date-time
            profile:
              type: array
              minItems: 1
              items:
                type: string
                format: uri

    PCMInteractionMeta:
      type: object
      additionalProperties: false
      description: |
        FHIR interaction metadata accepted in client requests. Clients may declare
        the applicable request profile, but PCM validates the interaction shape
        independently. versionId and lastUpdated, along with all other unsupported
        Meta business/security content, are prohibited.
      properties:
        id:
          type: string
        extension:
          type: array
          description: Unknown ordinary non-modifier extensions; PCM does not interpret or guarantee round-trip.
          items:
            $ref: '#/components/schemas/Extension'
        profile:
          type: array
          items:
            type: string
            format: uri

    PCMOrganizationRequestContact:
      type: object
      additionalProperties: false
      required: [purpose]
      properties:
        id:
          type: string
        extension:
          type: array
          description: Unknown ordinary non-modifier extensions; PCM does not interpret or guarantee round-trip.
          items:
            $ref: '#/components/schemas/Extension'
        purpose:
          $ref: '#/components/schemas/CodeableConcept'
[...]
